<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
.dropbtn {
	background-color: #f5f6f7;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
	color: #2980B9;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}
</style>

<title>Profile</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Arifs Travel </a>
			</div>
			<div id="navbar" class="collapse navbar-collapse"
				style="float: right">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/}">Home</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<p class="col-md-6 col-md-offset-3"
				style="background: #f5f6f7; border-bottom: 1px solid #dddfe2; border-radius: 2px 2px 0 0; font-weight: bold; padding: 8px 6px">Create
				A Post</p>
			<div class="col-md-6 col-md-offset-3">


	<div th:if="${param.failed}">
					<div class="alert alert-danger">Something went wrong!</div>
				</div>

				<form th:action="@{/post}" method="post">
					<div class="form-group">
						<textarea rows="5" cols="90" id="body" name="body"
							class="form-control" autofocus="autofocus" placeholder="body">
							
							 </textarea>

					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<label class="checkbox-inline"><input type="radio"
									value="PUBLIC" checked="checked" id="visibility"
									name="visibility">Public</label> <label class="checkbox-inline"><input
									type="radio" id="visibility" name="visibility" value="PRIVATE">Private</label>
							</div>

							<div class="col-md-6 ">
								<select th:field="*{locations}" >
									<option th:each="location : ${locations}" id="location" name="location"
										 th:text="${location.name}" th:value="${location.id}"></option>
								</select>
							</div>
						</div>
						<div class="form-group"></div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-12 ">
									<input type="submit" name="post-submit" id="post-submit"
										class="form-control btn btn-primary" value="Share" />
								</div>
							</div>
						</div>
				</form>
			</div>
		</div>
		<br>
		<div class="row">


			<div class="col-md-6 col-md-offset-3" th:each="post : ${posts}"
				style="background: #f5f6f7; border-bottom: 1px solid #dddfe2; border-radius: 2px 2px 0 0; font-weight: bold; padding: 8px 6px">

				<span class="glyphicon glyphicon-user"></span> <span
					th:value="${post.owner.firstName}"
					th:text="${post.owner.firstName}"></span> was at <i
					class="material-icons" style="font-size: 17px">place</i> <a
					href="#"> <span th:value="${post.location.name}"
					th:text="${post.location.name}"></span></a> <span class="dropdown"
					style="float: right">
					<button th:id="'myDropdown-button-'+${post.id}" class="dropbtn">...</button>		
					<div th:id="'myDropdown-'+${post.id}" class="dropdown-content">
						<a th:href="@{/post(id=${post.id})}" id="id" name="id"
							th:value="${post.id}">Edit</a> <a
							th:href="@{'/post/'+${post.id}+'/pin/'}" id="id" name="id"
							th:value="${post.id}" th:method="put">Pin</a>
					</div>
					<script type="text/javascript" th:inline="javascript">
						$("#myDropdown-button-"+/*[[${post.id}]]*/).on("click", function() {
							var id = /*[[${post.id}]]*/;
							console.log("clicked...."+id);
							$(".dropdown-content").hide();
							$("#myDropdown-"+id).show();
						});
					
					</script>



				</span> <br> <span class="glyphicon glyphicon-time"> </span> <span
					th:value="${post.lastUpdatedAt}" th:text="${post.lastUpdatedAt}"
					style="font-size: 11px; color: #80bd9e"></span> <span
					th:switch="${post.visibility}"> <i class="fa fa-globe"
					aria-hidden="true" th:case="'PUBLIC'"></i> <i class="fa fa-lock"
					aria-hidden="true" th:case="'PRIVATE'"></i>
				</span> <br>

				<pre th:value="${post.body}" th:text="${post.body}"
					style="background-color: #FFFFFF;"> </pre>

			</div>

		</div>


	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

	<script>
		/* When the user clicks on the button, 
		 toggle between hiding and showing the dropdown content */
		

		// Close the dropdown if the user clicks outside of it
		window.onclick = function(event) {
			if (!event.target.matches('.dropbtn')) {
				var dropdowns = document
						.getElementsByClassName("dropdown-content");
				var i;
				for (i = 0; i < dropdowns.length; i++) {
					var openDropdown = dropdowns[i];
					if (openDropdown.classList.contains('show')) {
						openDropdown.classList.remove('show');
					}
				}
			}
		}
	</script>



</body>
</html>